body {
    font-family: monospace;
    background-color: #1e1e2f;
    color: #e0e0e0;
    line-height: 0.3;
    padding-top: 40px;
    transition: background-color 0.5s ease;
}

html {
    scroll-behavior: smooth;
}

.cabezera{
    background-color:  rgb(0, 37, 219, 0.2);
    position:fixed;
    top: 0;
    width: 100%;
    transition: all 0.3s ease;
}

.contenedor-cabezera {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 500px;
    height: 60px;
}

.cabezera h1{
    color: #e0e0e0;
}

.cabezera nav ul {
    text-align:end;
}

.cabezera nav ul li {
    display: inline-block;
    margin: 0 20px;
}

.cabezera nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 5px;
    
}

.cabezera nav ul li a:hover,
.cabezera nav ul li a:focus {
    color: #00AFDB;
}

.foto-perfil{
    height: 250px;
    border-radius: 250px;
}

.contenedor-inicio {
    display: flex;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
}

.introduccion {
    margin-top: 30px;
    font-size: 1.2em;
    color: #e0e0e0;
    padding: 0 20px;
}

.secciones {
    padding: 80px 20px 40px 20px;
    
    width: 100%;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

#inicio {
    background-color: #1e1e2f;
    text-align: left;
    min-height: 20vh;
    padding-top: 100px;
}

#inicio h1 {
    font-size: 3.8em;
    color: #00AFDB;
    margin-bottom: 0.5rem;
}

#inicio h2 {
    padding-top: 10px;
    font-size: 2em;
    color: #e0e0e0;
    margin-bottom: 0.5rem;
}

#inicio p {
    padding-top: 60px;
    text-align: left;
    font-size: 2em;
    color: #e0e0e0;
    margin-bottom: 1rem;
}

#sobre-mi {
    background-color: rgb(0, 37, 219, 0.2);
    min-height: 70vh;
    padding-top: 50px;
}

#sobre-mi h1{
    font-size: 2.5em;
    color: #e0e0e0;
    margin-bottom: 3.5rem;
}

#sobre-mi h2{
    font-size: 2em;
    color: #e0e0e0;
    margin-bottom: 3.5rem;
}

#sobre-mi p{
    font-size: 1.5em;
    color: #e0e0e0;
    margin-bottom: 2rem;
}

.iconos {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#sobre-mi img {
    margin-right: 4rem;
    margin-bottom: 2rem;
    height: 60px;
}


.contenedor-educacion {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 3rem;
}

.recuadro-educacion {
    flex: 1 1 30%;
    background-color: rgb(45, 60, 134, 0.5);
    text-align: center;
    box-shadow: 0px 0px 8px rgb(0, 175, 219, 0.4);
}

.recuadro-educacion h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #00AFDB;
}

.recuadro-educacion h4 {
    font-size: 1.2em;
    color: #9a9a9a;
}

#proyectos {
    background-color: #1e1e2f;
    min-height: 70vh;
    padding-top: 50px;
}

#contacto {
    background-color: rgb(0, 37, 219, 0.2);
    min-height: 70vh;
    padding-top: 50px;
}


footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color:  rgb(0, 37, 219, 0.2);
    color: #e0e0e0;
    font-size: 0.9em;
}
